body {
    font-family: 'Poppins', sans-serif;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
.orange-font {
    color: orange;
}
.flexible-display {
    display: flex;
    margin-bottom: 100px;
}
.half-width {
    width: 50%;
    padding-left: 5%;
    
}
.mid-banner img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.order-button {
    background-image: linear-gradient(red,salmon);
    background-repeat: no-repeat;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
}
.mid-banner {
    background-image: url(images/frame/Frame-mid.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.my-recipe {
    text-align: center;
}
.recipe-description {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}
.recipe-items {
    margin-left: 5%;
    margin-right: 5%; 

}
.item {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.item img {
    height: 60%;
    width: 80%;
    border-radius: 10px;
}
.social-media {
    margin-left: 5%;
    margin-right: 5%; 
    background-image: linear-gradient(white,lightgray);
    border-radius: 10px;
}
.social-media-item {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}
.footer {
    text-align: center;
    color: white;
    background-color: black;
    margin: 5px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}